body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    background-color: #22A699;
}

.game-board{
    display: grid;
  
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
 
    border: solid 20px #F29727;
    
    height: 40rem;
    width: 40rem;

    margin: auto;
    
}
.board-contents{
    display: grid;
    background-color: #F2BE22;
    
    align-items: center;
    justify-items: center;
}
.item{
    width: 100%;
    height: 100%;
    text-align: center;

    background-color: #F2BE22;
    border: 2px solid red;  
    box-sizing: border-box;


}

.item:hover{
    background-color: white;
   
}